.alert {
  position: fixed;
  top: 20px;
  right: 20px;

  background: #f44336;
  color: white;

  padding: 12px 16px;
  border-radius: 4px;

  z-index: 9999;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}


.table-scroll {
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #ccc;
}
